<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CiudadEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cerebro201703.database.windows.net;initial catalog=Ciudad;persist security info=True;user id=AdminDB;password=5h5thg5@tgdhfGhuiOu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CiudadEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cerebro201703.database.windows.net;initial catalog=Ciudad;persist security info=True;user id=AdminDB;password=5h5thg5@tgdhfGhuiOu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ciudad01" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cerebro201701.database.windows.net;initial catalog=Ciudad;persist security info=True;user id=AdminDB;password=5h5thg5@tgdhfGhuiOu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ciudad02" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cerebro201702.database.windows.net;initial catalog=Ciudad;persist security info=True;user id=AdminDB;password=5h5thg5@tgdhfGhuiOu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ciudad03" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cerebro201703.database.windows.net;initial catalog=Ciudad;persist security info=True;user id=AdminDB;password=5h5thg5@tgdhfGhuiOu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="asignacion_de_recursosEntities" connectionString="metadata=res://*/Model.Recursos.csdl|res://*/Model.Recursos.ssdl|res://*/Model.Recursos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cerebro201700.database.windows.net;initial catalog=asignacion_de_recursos;persist security info=True;user id=AdminDB;password=5h5thg5@tgdhfGhuiOu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>